@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');

:root {

  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --light-gray: #EDEFEE;
  --dark-gray: #333333;
  --font-title: 'Markazi Text', serif;
  --font-body: 'Karla', sans-serif;

}



* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body {

  font-family: var(--font-body);
  background-color: var(--light-gray);
  color: var(--dark-gray);
  line-height: 1.6;

}

/* Header (logo) */

header {

  padding: 0cm;
  background-color: white;

}

header img {

  height: 60px;
  margin-left: 3.9cm;
  margin-top: 1cm;
  
}

/* NavBar */

nav {

  background-color: white;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

nav ul {

  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 7cm;

}

nav li a {

  text-decoration: none;
  color: var(--dark-gray);
  font-weight: bold;

}

nav li a:hover {

  color: var(--primary-yellow);

}

/* Main section */

main {

  background-color: var(--primary-green);
  color: white;
  padding: 40px 20px;
  text-align: center;

}

main h2 {

  font-family: var(--font-title);
  color: var(--primary-yellow);
  font-size: 48px;
  margin-right: 20cm;

}

main h3 {

  font-family: var(--font-title);
  font-size: 38px;
  margin-top: -0.8cm;
  margin-right: 23cm;
  text-align: center;
}

main p {

  font-size: 14px;
  max-width: 230px;
  margin: 10px auto;
  margin-right: 23cm;
  text-align: left;

}

/* Footer */

footer {

  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--dark-gray);
  margin-top: 40px;
  border-top: 1px solid #ccc;

}

/* App.css */
section {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}
button {
  background-color: #fbd000;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
}


